/* line 1, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form {
  margin-top: 24px;
}
/* line 4, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .main-label {
  color: white;
  display: block;
  background-color: grey;
  padding: 10px;
  margin-bottom: 0;
}
/* line 12, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .optional {
  color: orange;
  font-weight: 700;
}
/* line 17, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .form-group {
  margin-bottom: 24px;
}
/* line 21, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .form-control {
  font-size: 16px;
  padding: 10px 12px;
  height: 40px;
}
/* line 27, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form textarea.form-control {
  height: auto;
}
/* line 32, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #map {
  height: 400px;
}
/* line 36, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* line 47, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
/* line 58, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #pac-input:focus {
  border-color: #4d90fe;
}
/* line 62, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form .pac-container {
  font-family: Roboto;
}
/* line 66, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
/* line 72, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/* line 78, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.event-form #target {
  width: 345px;
}

/* line 83, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
.error {
  border: 1px solid darkred;
  background: rgba(139, 0, 0, 0.1);
}

/* line 88, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
#error-reporter {
  display: none;
  border: 1px solid darkred;
  background: rgba(139, 0, 0, 0.1);
  color: darkred;
  padding: 10px 12px;
}
/* line 95, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
#error-reporter h3 {
  color: darkred;
}
/* line 99, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/event-form.scss */
#error-reporter #errors ul {
  color: darkred;
  font-size: 16px;
}
/* line 1, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}
/* line 16, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select.inline {
  width: auto;
  display: inline-block;
}
select {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%; }
  select.inline {
    width: auto;
    display: inline-block; }

button:focus {
  outline: 0; }

.purple {
  color: #D400FF; }

.dark-purple {
  color: #8D00AA; }

.teal {
  color: #50E3C2; }

.green {
  color: #B8E986; }

.med-green {
  color: #7ED321; }

.dark-green {
  color: #417505; }

.dark-gray {
  color: #ACB2B8; }

.darker-gray {
  color: #4A4A4A; }

.margin-right {
  margin-right: 3px;
  display: box; }

.margin-left {
  margin-left: 3px;
  display: box; }

.align-end {
  margin-bottom: 20px; }

.bold {
  font-weight: bold; }

.white {
  color: #fff; }

.text.bold {
  font-weight: bold; }

.text.medium {
  font-size: 1.2em; }

.text.large {
  font-size: 1.8em; }

.text.text-light {
  font-weight: 300; }

.caps {
  text-transform: uppercase; }

* {
  font-family: sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #39BBFF; }
/* line 1, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}
/* line 16, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select.inline {
  width: auto;
  display: inline-block;
}

/* line 5, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
button:focus {
  outline: 0;
}

/* line 85, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.purple {
  color: #D400FF;
}

/* line 89, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-purple {
  color: #8D00AA;
}

/* line 93, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.teal {
  color: #50E3C2;
}

/* line 97, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.green {
  color: #B8E986;
}

/* line 101, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.med-green {
  color: #7ED321;
}

/* line 105, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-green {
  color: #417505;
}

/* line 109, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-gray {
  color: #ACB2B8;
}

/* line 113, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.darker-gray {
  color: #4A4A4A;
}

/* line 117, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.margin-right {
  margin-right: 3px;
  display: box;
}

/* line 122, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.margin-left {
  margin-left: 3px;
  display: box;
}

/* line 131, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.align-end {
  margin-bottom: 20px;
}

/* line 137, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.bold {
  font-weight: bold;
}

/* line 141, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.white {
  color: #fff;
}

/* line 146, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.bold {
  font-weight: bold;
}
/* line 149, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.medium {
  font-size: 1.2em;
}
/* line 152, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.large {
  font-size: 1.8em;
}
/* line 156, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.text-light {
  font-weight: 300;
}

/* line 161, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.caps {
  text-transform: uppercase;
}

/* line 167, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
* {
  font-family: sans-serif;
}

/* line 171, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #39BBFF;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 10, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 20, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 34, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/normalize.scss */
td,
th {
  padding: 0;
}
/* line 1, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}
/* line 16, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/form-components.scss */
select.inline {
  width: auto;
  display: inline-block;
}

/* line 5, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
button:focus {
  outline: 0;
}

/* line 85, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.purple {
  color: #D400FF;
}

/* line 89, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-purple {
  color: #8D00AA;
}

/* line 93, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.teal {
  color: #50E3C2;
}

/* line 97, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.green {
  color: #B8E986;
}

/* line 101, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.med-green {
  color: #7ED321;
}

/* line 105, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-green {
  color: #417505;
}

/* line 109, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.dark-gray {
  color: #ACB2B8;
}

/* line 113, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.darker-gray {
  color: #4A4A4A;
}

/* line 117, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.margin-right {
  margin-right: 3px;
  display: box;
}

/* line 122, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.margin-left {
  margin-left: 3px;
  display: box;
}

/* line 131, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.align-end {
  margin-bottom: 20px;
}

/* line 137, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.bold {
  font-weight: bold;
}

/* line 141, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.white {
  color: #fff;
}

/* line 146, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.bold {
  font-weight: bold;
}
/* line 149, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.medium {
  font-size: 1.2em;
}
/* line 152, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.large {
  font-size: 1.8em;
}
/* line 156, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.text.text-light {
  font-weight: 300;
}

/* line 161, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
.caps {
  text-transform: uppercase;
}

/* line 167, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
* {
  font-family: sans-serif;
}

/* line 171, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/main.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #39BBFF;
}

/* line 7, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/payment.scss */
.has-error input {
  border-width: 2px;
}

/* line 11, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/payment.scss */
.validation {
  font-size: 2rem;
  margin: 1.5rem 0;
}

/* line 16, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/payment.scss */
.validation.form-error:after {
  content: 'Please check form fields';
  color: red;
}

/* line 21, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/payment.scss */
.validation.form-success:after {
  content: 'Payment information saved';
  color: #417505;
}

/* line 26, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/payment.scss */
.validation.form-saving:after {
  content: "Saving...";
}
/* line 6, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form h2 {
  background-color: transparent;
  color: #acb2b8;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}
/* line 15, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form h3.main-label {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
}
/* line 22, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form h4, .resources-form h5, .resources-form p {
  margin-bottom: 0;
}
/* line 26, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form label {
  color: #777;
  font-weight: 700;
}
/* line 31, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form input.form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
}
/* line 40, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .add-resource {
  padding-top: 10px;
}
/* line 44, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .resource-content {
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  -webkit-transition: height 2s;
  transition: height 2s;
}
/* line 54, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .resource-content.hidden {
  padding: 0;
  height: 0;
}
/* line 60, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .resource-image {
  background-color: #d400ff;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
}
/* line 73, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .price {
  font-weight: 700;
}
/* line 77, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .content-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  float: right;
  border: none;
  font-size: 2rem;
}
/* line 86, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/resources.scss */
.resources-form .content-toggle i {
  margin: 0;
  padding: 0;
}
/* line 8, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 13, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.clearfix:after {
  clear: both;
}

/* line 18, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.text-left {
  text-align: left;
}

/* line 22, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.text-right {
  text-align: right;
}

/* line 26, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 32, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.pull-right {
  float: right !important;
}

/* line 36, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.pull-left {
  float: left !important;
}

/* line 40, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.hide {
  display: none !important;
}

/* line 44, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.show {
  display: block !important;
}

/* line 48, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.invisible {
  visibility: hidden;
}

/* line 52, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.hidden {
  display: none !important;
}

/* line 56, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/utils.scss */
.affix {
  position: fixed;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 42, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
a.action-button, div.action-button {
  height: 60px;
  margin-left: 0px;
  width: 100%;
  max-width: 375px;
  min-width: 300px;
  border: none;
  line-height: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 5px #ccc;
  font-size: 16px;
  font-weight: bold;
}
/* line 55, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
a.action-button.green, div.action-button.green {
  background-color: #7ED321;
  color: #fff;
}
/* line 59, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
a.action-button.purple, div.action-button.purple {
  background-color: #D400FF;
  color: #fff;
}

/* line 65, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
.action-button-subtext {
  color: #bbb;
  text-align: center;
  width: 100%;
  max-width: 375px;
  min-width: 300px;
  border: none;
}

/* line 74, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
h2.content-header {
  text-transform: uppercase;
  color: #acb2b8;
  font-size: 1.5em;
  font-weight: 700;
  margin: .67em 0;
}

/* line 82, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
ul.invitees {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 88, /Users/J/Sites/kickparty-rails/app/assets/stylesheets/application.scss */
li.invitee {
  display: inline-block;
}
