<div class="divide40"></div>
<div class="intro-text-1 light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="animated slideInDown">Assan is Simply creative Template
                </h4>

                <p>
                    Clean & powerful Easy to use multipurpose business HTML5 template.
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn border-theme btn-lg">Purchase now</a>
            </div>
        </div>
    </div>
</div> <!--intro text end-->
