<!--rev slider start-->
<!-- <div class="fullwidthbanner">
    <div class="tp-banner">
        <ul> -->
            <!-- SLIDE -->
            <!-- <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="KickParty Events"> -->
                <!-- MAIN IMAGE -->
                <!-- <img src="http://www.kickparty.com/images/kickparty-hero.jpg"  alt="KickParty Hero"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="50"
                     data-y="160"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Epic Events <br>
                    Funded by Friends
                </div>

                <div class="caption text sfl"
                     data-x="50"
                     data-y="310"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="easeOutExpo">
                    KickParty democratizes event creation like never before.  <br>
                    Your next event can be as big as your dreams - at no risk to anyone.
                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="50"
                     data-y="380"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                    <a href="/events/new" class="btn btn-theme-bg btn-lg" id="event-button">Create an Event</a>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="250"
                     data-y="380"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Sine.easeOut">
                    <a href="#" class="btn border-white btn-lg">Learn More</a>
                </div>

            </li>
        </ul>
    </div> -->
<!-- </div> -->
<!--full width banner-->
<!--revolution end-->
<div class="homepage-hero-module">
    <div class="video-container">
      <div class="flag">
        <div class="triangle"></div>
        <div class="flag-text">
          <p style="color: white;">Plan Something Awesome.</p>
        </div>
      </div>
      <h1 class="container-title">GET YOUR<span style="color: #9fe15b"> NEXT GREAT PARTY</span> STARTED <span style="color: #9fe15b"> RIGHT NOW</span></h1>
      <div class="affix-top">
        <button type="button" class="btn btn-round btn-transparent" id="event-button">Create an Event</button>
        <!-- <button type="button" class="btn btn-round btn-transparent" id="discover-button">Discover Events</button> -->
      </div>
      <div class="arrow-down" id="arrow-down">
        <a href="#about" id="about-btn" class="scroll-arrow hidden-xs hidden-sm">
          <i class="fa fa-angle-double-down"></i>
        </a>
      </div>
        <div class="filter"></div>
        <video autoplay loop muted class="fillWidth">
            <source src="images/people/party-vid.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <!-- <source src="images/Night-Out/WEBM/Night-Out.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
        </video>
        <div class="poster hidden">
            <img src="images/people/party-vid.jpg" alt="">
        </div>
    </div>
</div>
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>What is KickParty?</h2>
                  <span class="center-line"></span>
                    <p>
                      With KickParty, anyone can be a high-end wedding planner, well-known club promoter, senior special events director, or simply the craziest party planner on frat row. You provide the imagination and we’ll take care of the rest.
                    </p>
            </div>
        </div><!--section title-->
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="img-service-box">
                    <img src="images/create.jpg" width="200" height="200" class="img-circle " alt="">
                    <span class="center-line"></span>
                    <h3>Create</h3>
                    <p>
                      Easily build any event, public or private, large or small
                    </p>
                </div>
            </div><!--img-service box-->
            <div class="col-md-3 col-sm-6 text-center">
                <div class="img-service-box">
                    <img src="images/invite.jpg" width="200" height="200" class="img-circle " alt="">
                    <span class="center-line"></span>
                    <h3>Promote</h3>
                    <p>
                      Invite your closest friends, your entire city or your band’s loyal following
                    </p>
                </div>
            </div><!--img-service box-->
            <div class="col-md-3 col-sm-6 text-center">
                <div class="img-service-box">
                    <img src="images/promote.jpg" width="200" height="200" class="img-circle " alt="">
                    <span class="center-line"></span>
                    <h3>Fund</h3>
                    <p>
                      Choose from several options to ensure you won’t break the bank
                    </p>
                </div>
            </div><!--img-service box-->
            <div class="col-md-3 col-sm-6 text-center">
                <div class="img-service-box">
                    <img src="images/fund.jpg" width="200" height="200" class="img-circle " alt="">
                    <span class="center-line"></span>
                    <h3>Discover</h3>
                    <p>
                      See what awesome events are happening in your area
                    </p>
                </div>
            </div><!--img-service box-->
        </div>
    </div>
    <div class="divide40"></div>
</section><!--about us-->
<div class="kp-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>What We Offer</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-wrench"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Quick Setup</h4>
                        <p>
                            Create an event page in under 5 minutes with images, information and links.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-check-square-o"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Build With Resources</h4>
                        <p>
                            Need a limo? DJ? Or a caterer? We’ve got an extensive list of industry resources to help you price out and build your perfect party.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-toggle-on"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Public or Private Events</h4>
                        <p>
                            You decide who gets to see your event, whether it’s an invite-only boat party or a public block party.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-bullhorn"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Promote</h4>
                        <p>
                            Easily invite your guests via email and/or blast your event to your entire social network across several platforms.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-comments-o"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Communicate With Ease</h4>
                        <p>
                            Eliminate the back and forth across email, text and social media. Easily update your guests and let them ask you questions too.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-cc-stripe"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Secure Payments</h4>
                        <p>
                            Feel comfortable accepting payments online with Stripe.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-money"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Collect Money</h4>
                        <p>
                            Set an amount you’d like your guests to pay and easily charge them. Need to charge them again during or after the party? No problem.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="800ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 800ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-users"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Crowdfund</h4>
                        <p>
                            Easily raise money for those larger, more expensive events by getting people to pre-pay for you.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-4 col-sm-6 margin20">
                <div class="services-box wow animated fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 900ms; animation-name: fadeIn;">
                    <div class="services-box-icon">
                        <i class="fa fa-map-marker"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Discover &amp; Be Discovered</h4>
                        <p>
                            See what public events are happening around you, and if you’re the one throwing it let people easily find out what’s going on.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div><!--services row-->
    </div>
    <div class="divide20"></div>
</div><!--kp-features-->
<div class="clients">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="center-heading">
                  <h2>Who is KickParty For?</h2>
                  <span class="center-line"></span>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="client-list wow animated fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <div class="client-text client-first">
                      <h4>Parties With Your Friends</h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="client-list wow animated fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInRight;">
                    <div class="client-pic client-first">
                        <img style="width: 100%;" src="images/bach-party.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="client-list wow animated fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <div class="client-pic">
                        <img style="width: 100%;" src="images/halloween.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="client-list wow animated fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInRight;">
                <div class="client-text">
                  <h4>Group Events</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis.
                  </p>
                </div>
              </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="client-list wow animated fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <div class="client-text">
                      <h4>Professional Events</h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="client-list wow animated fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInRight;">
                    <div class="client-pic">
                        <img style="width: 100%;" src="images/concert.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="client-list wow animated fadeInLeft" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <div class="client-pic">
                        <img style="width: 100%;" src="images/work-party.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="client-list wow animated fadeInRight" data-wow-duration="500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 100ms; animation-name: fadeInRight;">
                <div class="client-text">
                  <h4>Corporate Events</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies nisl id mattis blandit. Nullam laoreet semper turpis, eget ultrices sapien laoreet nec. Sed auctor convallis turpis vel cursus. Sed semper rhoncus dui id lobortis. Cras dictum vulputate sapien, a volutpat velit condimentum quis.
                  </p>
                </div>
              </div>
            </div>
        </div>
        <br />
        <br />
    </div>
  <div class="divide20"></div>
</div>
<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <!-- <h2>Get Started Now!</h2> -->
                    <button type="button" class="btn action-button btn-transparent" id="action-button">Get Started Now!</button>
                    <!-- <span class="center-line"></span> -->
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- </div>
        </div>
    </div>
</div> -->
