<!-- <div class="bg-container"> -->
  <!-- <div class="divide60"></div> -->
  <div id="about" class="about-kp">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                  <h2 style="margin-top: 1em;">A Little About KickParty</h2>
                      <span class="center-line"></span>
              </div>
          </div><!--section title-->
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 margin20">
          <p class="services-box wow animated fadeIn" data-wow-duration="400ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 100ms; animation-name: fadeInLeft;">Here at KickParty, we're incredibly excited to have built a brand new software platform that makes imagining and organizing an event, collecting money, and sharing that event easier than ever before….and truly epic!!</p>
          <span class="center-line"></span>
          <br />
          <p class="services-box wow animated fadeIn" data-wow-duration="400ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 200ms; animation-name: fadeInLeft;">Using KickParty, anyone in the world can be a high end wedding planner, well-known club or concert promoter, senior special events director, or simply the craziest party planner on frat row. Plan any type of party or
              event you can dream of, both public or private – throw an insane tailgate, plan a public yacht party with a band and open bar, create a weekend long ski trip with your closest buddies, or plan your best friends bachelor party (and NOT have to bug Jeff to pay you the day before...thanks a lot Jeff :)</p>
          <span class="center-line"></span>
          <br />
          <p class="services-box wow animated fadeIn" data-wow-duration="400ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 300ms; animation-name: fadeInLeft;">KickParty brings you a platform with an incredibly simple interface to quickly and easily plan anything, from small birthday dinners to an over the top 30,000-person arena rock show – all you need is the imagination and
              we’ll do the rest. You’ll know exactly how many attendees you need to “kick” the party off, and exactly how much they have to pay. Keep track of who’s in and who’s out…nobody is charged until the price is met!</p>
      </div>
      <div class="col-md-6">
          <img src="images/party-pic.jpg" class="img-responsive kpgroup img-rounded services-box wow animated fadeIn" data-wow-duration="300ms" data-wow-delay="200ms" style="width: 100%; visibility: visible; animation-duration: 300ms; animation-delay: 200ms; animation-name: fadeInRight" alt="party">
      </div>
  </div>
    <div class="divide60"></div>
    <section class="fun-fact-wrap parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin20 facts-in">
                        <h3><i class="fa fa-glass"></i><span class="counter">1,298,758</span></h3>
                        <h4>Parties Kicked</h4>
                    </div><!--facts in-->
                    <div class="col-md-4 margin20 facts-in">
                        <h3><i class="fa fa-users"></i><span class="counter">1,987,243</span></h3>
                        <h4>Happy Customers</h4>
                    </div><!--facts in-->
                    <div class="col-md-4 margin20 facts-in">
                        <h3><i class="fa fa-globe"></i><span class="counter">80,453</span></h3>
                        <h4>Cities Reached</h4>
                    </div><!--facts in-->
                </div>
            </div>
        </section><!--fun facts-->

    <div class="divide60"></div>
<!-- </div> --><!--.container-->
